// Your custom SCSS should be written here...
body {
	background: black;
	color: #dbd1b8;
  font-family: sans-serif;
	background-attachment: fixed;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: auto 100%;

 

}

h1, h2, h3, h4, h5, h6 {
font-family: 'PTSansRegular';
color: #dbd1b8;
/*text-shadow: 2px 2px 3px #000;
-webkit-text-stroke:0.7px;
-webkit-text-stroke-color: #dbd1b8;
*/
-webkit-font-smoothing: antialiased;
}
h2, h3, h4, h5, h6, p {
  text-align: left;
}

.centered_box {
/*background-color: #000;
*/
position: relative;
padding:20px 0px 30px 0px;

  /*display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: auto;
 
  background-color: #000;
*/
}


#outer {
	text-align: center;
	width:100%;
	height:100%;
	overflow:hidden;
	position: relative;


}
#outer[id] {
      display: table;
      position: static;
}
#middle {
      position: absolute;
      top: 50%;
    
} /* for explorer only*/
 
#middle[id] {
      display: table-cell;
      vertical-align: middle;
      position: static;

}
 
#inner {
      position: relative;
      top: -50%;

} /* for explorer only */
 
:first-child+html #outer[id] {
    position:relative
} /* for explorer 7 only */
 
*:first-child+html #middle[id] {
    position: absolute;
    display:block;
    vertical-align:inherit;
    top: 50%;
} /* for explorer 7 only */

$overlayHeight: 65px;
.frameDecoration {
  /*   position: relative;
     top: -$overlayHeight;
     padding-top: $overlayHeight;
     margin-bottom: -$overlayHeight;
     background-image: url(../img/overlay1.png);
     background-repeat: no-repeat; 
    */
     padding-left: 50px;
     padding-right: 50px;
   
     }


 #nextButton{
  margin-top: 20px;
  border-radius: 10px;
 }

 .videoBg {
  margin-top: 30px;
  margin-bottom: 50px;
  
  -webkit-box-shadow: inset 0px 0px 85px 10px rgba(0,0,0,0.9);
  -moz-box-shadow:    inset 0px 0px 85px 10px rgba(0,0,0,0.9);
  box-shadow:         inset 0px 0px 85px 10px rgba(0,0,0,0.9);
  
  line-height: 0;         /* ensure no space between bottom */
  
  display: inline-block;  /* don't go wider than image */

 }


 .blur1 {
    -webkit-filter:blur(1px);
    filter:blur(1px);
}
.blur2 {
    -webkit-filter:blur(2px);
    filter:blur(2px);
}
.blur3 {
    -webkit-filter:blur(3px);
    filter:blur(3px);
}
.blur4 {
    -webkit-filter:blur(4px);
    filter:blur(4px);
}
.blur5 {
    -webkit-filter:blur(5px);
    filter:blur(5px);
}


/*SPINNER LOADER*/
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-o-keyframes spin {
  from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Loading animation container */
.loading {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 28px;
  height: 28px;
  margin: -14px 0 0 -14px;
}

/* Spin track (outer circle) */
.loading .track {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 2px;
  top: 2px;
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.3);
}

/* Spinning circle (inner circle) */
.loading .maskedCircle {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 3px solid white;
}

/* Spinning circle mask */
.loading .mask {  
  width: 12px;
  height: 12px;
  overflow: hidden;
}

/* Spinner */
.loading .spinner {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 22px;
  height: 22px;
  -webkit-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}